body { background: #28a0f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-uploader-0 { color: #ed204b; font-size: 19px; margin-bottom: 5px; }
.block-config-1 { color: #fcb3d8; font-size: 12px; margin-bottom: 5px; }
.block-order-2 { color: #efb9a2; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #da5be5; font-size: 18px; margin-bottom: 5px; }
.block-order-4 { color: #e1ffb; font-size: 19px; margin-bottom: 5px; }
.block-config-5 { color: #8af523; font-size: 19px; margin-bottom: 5px; }